.form-label {
	display: flex;
	align-items: left;
	text-align: left;
}

.title {
	margin-bottom: 1em;
}

.question-page {
	background-color:darkgray;
	border-radius: 5px;
	padding: 1em;
	margin-bottom: 1em;
}